<li class="g-col-3">
  <div class="card-category position-relative" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= list.image_url %>)">
    <%= link_to list_path(list),
        data: { "turbo-method": "delete", "turbo-confirm": "Are you sure?" },
        class: "btn btn-danger rounded-3 delete-btn" do %>
      <i class="fa-solid fa-trash-can"></i>
    <% end %>
    <%= link_to list_path(list), class: "text-decoration-none" do %>
      <%= list.name %>
    <% end %>
  </div>
</li>
