<ul class="list-unstyled grid mt-5" style="grid-auto-rows: 1fr;" data-controller="insert-bookmark">
  <% @list.bookmarks.each do |bookmark| %>
    <%= render "bookmark_card", bookmark: bookmark %>
  <% end %>
    <li class="g-col-6 g-col-lg-4 g-col-xl-3" data-insert-bookmark-target="last">
      <%= render "new_bookmark_card" %>
    </li>
</ul>
