<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid justify-content-center">
    <%= link_to "Awesome Watch lists", root_path, class: "navbar-brand me-2" %>
    <% if action_name == "show" %>
      <span class="navbar-brand">&gt; <%= List.find(params[:id]).name %></span>
    <% end %>
  </div>
</nav>
